@model ParkWeatherModel

@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>
<div>
    <img src="~/images/@(Model.park.ParkCode).jpg" />

    <div>
        <h2>@Model.park.ParkName</h2>
        <h4>@Model.park.InspirationalQuote -@Model.park.QuoteSource</h4>
        <p>Acreage: @Model.park.Acreage</p>
        <p>Annual Visitors: @Model.park.AnnualVisitors</p>
        <p>@Model.park.Description</p>
        
    </div>

    <div id="weather-grid">
        @foreach (var day in Model.weather)
        {
            <img src="~/images/@(day.Forecast).png" />
            <p>@day.Forecast</p>
        }
    </div>
</div>