@model ParkWeatherModel

@{
    ViewData["Title"] = "Detail";
}

<div>
    <img id="detail-image" src="~/images/@(Model.park.ParkCode).jpg" alt="" />

    <div>
        <h2>@Model.park.ParkName</h2>
        <h4 id="detail-quote">@Model.park.InspirationalQuote -@Model.park.QuoteSource</h4>
        <p><strong>Acreage: </strong>@String.Format("{0:n0}", Model.park.Acreage)</p>
        <p><strong>Annual Visitors: </strong>@String.Format("{0:n0}", Model.park.AnnualVisitors)</p>
        <p>@Model.park.Description</p>
        
    </div>

    <div id="weather-wrapper">
        <div id="weather-forecast">
            <label>Change Temperature Units</label>
            <label class="switch">
                <input type="checkbox" name="temp-switcher" />
                <span class="slider"></span>
            </label>
            @foreach (var day in Model.weather)
            {
            <div id="weather-preparation">
                @if (day.FiveDayForecastValue == 1)
                {
                    <img id="today-weather" src="~/images/@(day.Forecast).png" alt="@day.Forecast" />
                    <p>High: @day.High / Low: @day.Low</p>
                    <p id="weather-advisory">Weather advisory: @Model.ProvideRecommendation(day)</p>
                }
                else
                {
                    <img id="week-weather" src="~/images/@(day.Forecast).png" alt="@day.Forecast" />
                    <p>High: @day.High / Low: @day.Low</p>
                    <p id="weather-info">@Model.ProvideRecommendation(day)</p>
                }
            </div>
            }
        </div>
    </div>
</div>