@model IList<Park>

@{
    ViewData["Title"] = "Home Page";
}

<div class="acadia-container">
    <img id="acadia" src="~/images/acadia.jpg" />
    <div class="acadia-centered">
        <h2 id="index-parks-header">Select a Park for More Information</h2>
    </div>

</div>
<div id="all-park-grid">
    @foreach (var park in Model)
    {
        <a asp-controller="Home" asp-action="Detail" asp-route-parkCode="@park.ParkCode" method="get">
            <img id="index-park-image" src="~/images/@(park.ParkCode).jpg" />
        </a>
        <div id="index-park-container">
            <h3><a asp-controller="Home" asp-action="Detail" asp-route-parkCode="@park.ParkCode" method="get" id="index-park-name">@park.ParkName</a></h3>
            <h4>Location: @park.State</h4>
                <p>@park.Description</p>
        </div>
    }
</div>

